	<div class="row justify-content-center align-items-center my-row">
		<div class="col-md-8 col-sm-12">

			<div class="jumbotron text-center">
			  <h1 class="display-4">Pour nous contacter</h1>
			  <hr class="my-4">
			  <p class="lead">Cliquez sur le bouton ci-dessous !</p> <br>
			  <p class="lead">
			    <a class="btn btn-dark btn-lg" href="mailto:contact@furry.trash" role="button">Envoyez-nous un message.</a>
			  </p>
			</div>

		</div>
	</div>